html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
  }
  
  *, *:after, *:before {
    box-sizing: inherit;
  }
  
  body {
   line-height: 1;
    font-size: 16px;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/04589a77223425.5c8132868da75.jpg");
    background-repeat: repeat;
    background-position: top center;
  }
  
  @media (min-width: 1400px) {
    body{
      background-size: cover;

    } 
  }
  
  h2 {
    font-size: 4.8rem;
    color: white;
    text-align: center;
    text-shadow:  1px 1px 5px black;
  }
  
  button {
    font-size: 2.4rem;
    border: none;
    text-shadow:  1px 1px 5px black;
  }
  
  .main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  @media (min-width: 576px) {
    .flex-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
  
  }
  
  /* UTILITIES */
  
  .center {
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  .glass {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    box-shadow: 4px 4px 11px 4px rgba(51,51,51,0.3);
    border-radius: 0.5rem;
  }
  
  .glass-btn {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0);
    box-shadow: 0 4px 7px 3px rgba(51,51,51,0.3);
  }
  
  .glass-border {
     border-top: solid 1px rgba(255, 255, 255, 0.4);
    border-left: solid 1px rgba(255, 255, 255, 0.4);
  }
  
  .btn{
    flex-basis: calc(33% - 0.5rem);
    padding: 1.5rem 0.7rem;
    color: white;
    transform: scale(1);
    transition: 0.5s;
  }
  
  .btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
  }
  
  .btn--start {
    flex-basis: calc( 50% - 0.5rem );
  }
  
  /*Start Area*/
  
  .start {
    margin-top: 2rem;
  }
  
  .start__logo {
   
  }
  
  .start__logo img {
    display: block;
  }
  
  .start__buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 2rem;
  }
  
  
  /* PLAY AREA */
  
  .menu{
    margin-top: 5rem;
    padding: 1rem 0;
  }
  
  .menu__buttons {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .content {
    margin-top: 0.7rem;
    min-height: 30rem; 
  }
  
  .container {
    width: 90%;
  }
  
  @media (min-width: 768px){
    .container{
      max-width: 100rem;
    }
  }
  
  
  /*CARDS*/
  .cards {
    padding-bottom: 2rem;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem 0;
  }
  
  .card__picture img {
    display: block;
    border-radius: 50%;
  }
  
  .card__info {
    text-align: center;
  }
  
  @media (min-width: 576px) {
    .card {
      flex-direction: row;
      align-items: center;
    }
    .card__picture{
      width: 30%; 
    }
    .card__picture img {
      display: block;
      border-radius: 50%;
    }
    .card__info {
      display: flex;
      justify-content: space-around;
      width: 70%;
    }
  }
  
  
  
  #about {
    display:none;
  }

  .selectedAnswer{
    background-color: rgba(52, 173, 243, 0.616);
}

.mt-3{
    margin-top: 8vh;
}

.mb-3{
    margin-bottom: 8vh;
}

.game-quesiton-container{

    padding: 10%;
}

.mt-2{
  margin-top: 4vh;
}

.mb-2{
  margin-bottom: 4vh;
}

.waiting-card{
    position: fixed;
    top: 10vh;
    background-color: rgb(37, 16, 85);

    height: 60rem;
    width: 60rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 50%;
}

.d-none{
    display: none !important;
}

#GameMode2-start{
    width: 10vw;
}

.filter-form{
    margin-top: 15px;
    padding: 20px;
}

.filter-input-container{
    padding: 20px;
}



option{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    box-shadow: 4px 4px 11px 4px rgba(51,51,51,0.3);
    border-radius: 0.5rem;
}


.result-container{
    position: fixed;
    top: 10vh;
    left: 25vw;

    width: 50vw;
    height: 60vh;

    background-color: rgb(0, 17, 255);

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow-color{
  background-color: rgba(235, 41, 202, 0.726);
  border: 2px solid white;
}

.selection-button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

